<!DOCTYPE html>
<html>
<title>Angular-Harikrishna M</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="../app/app.component.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<body>
  <div class="container" style="justify-content: center; align-self: center">
    <div id="AngularLine">
      <h2 id="project">
        Angular Project
      </h2>
      <div >
        <div id="pickcate">Pick your Category</div>
        <select (change)="selectedoptionfun($event)">
          <option value="{{ list.key }}" *ngFor="let list of category">
            {{ list.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="w3-content">
    <div id="cardfull" *ngFor="let list of array">
      <div class="w3-row w3-margin">
        <div class="w3-third">
          <img src="../assets/{{ list.p_name }}.jpg" style="width: 100%; min-height: 200px;" />
        </div>
        <div class="w3-twothird w3-container">
          <h2 style="font-family: Ink Free;font-weight: 700;">{{ list.p_name }}</h2>
          <p >Cost:{{ list.p_cost }}</p>
          <p>availability:{{ list.p_availability }}</p>
          <ng-container *ngIf="list.p_details !== undefined">
            <p>Details:{{ list.p_details }}</p>
          </ng-container>

          <ng-container *ngIf="list.p_category !== undefined">
            <p>Category:{{ list.p_category }}</p>
          </ng-container>
          <ng-container>
            <span> Quantity: </span>
            <span *ngIf="textArea(list.p_id)">
              {{ list.p_Quantity }}
            </span>
            <input type="number" *ngIf="editBox(list.p_id)" (change)="call($event, list)"
              value="{{ list.p_Quantity }}" />
            <button *ngIf="textArea(list.p_id)" (click)="Edit(list)">
              Edit
            </button>
            <button *ngIf="editBox(list.p_id)" (click)="save($event, list)">
              Save
            </button>
            <button *ngIf="editBox(list.p_id)" (click)="cancel()">
              cancel
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<router-outlet></router-outlet>